* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #efefef;
  padding: 10px;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

header h1 {
  font-size: 25px;
  font-weight: 300;
  margin-left: 300px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

nav {
  margin: 0 20px 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 300px;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #777777;
}

.chosen-now {
  color: #363636;
}

header .under-line {
  background-color: #363636;
  width: 30px;
  height: 2px;
  position: absolute;
  bottom: 26px;
  right: 630.7px;
  border-radius: 40px;
}

.banner {
  width: 100%;
  height: 500px;
  border: none;
  margin-top: 20px;
}

.recommand-songs {
  background-color: #e9e9e9;
  margin-top: 50px;
  padding: 50px;
  height: 600px;
}

.title {
  margin-bottom: 130px;
  font-size: 30px;
}

.musics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music {
  margin-top: 50px;
  padding: 20px;
  background-color: #dddddd;
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.music img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  border-radius: 20px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.music-explain {
  position: absolute;
  top: 110px;
  left: 45px;
}

.music p, .music h1, .music h2 {
  margin: 0;
}

.music h1 {
  font-size: 20px;
  font-weight: 300;
}

.music h2 {
  font-size: 15px;
  font-weight: 200;
}

.music p {
  margin: 20px 0;
  font-weight: 100;
}

.music a {
  text-decoration: none;
  background-color: #3f3f3f;
  padding: 10px;
  border-radius: 15px;
  color: #efefef;
}

.not.recommand-songs {
  background-color: #efefef;
  height: 700px;
}

.not.recommand-songs ul {
  height: 300px;
  list-style-type: none;
  display: grid;
  grid-template: repeat(4, 70px) / repeat(3, 20%);
  gap: 30px;
  justify-content: center;
}

.not.recommand-songs ul li {
  background-color: #c4c4c4;
  border-radius: 30px;
  text-align: center;
  padding: 20px 0;
  font-size: 23px;
  font-weight: 200;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.not.recommand-songs ul li .hot {
  background-color: #ee442e;
  font-size: 15px;
  border-radius: 20px;
  width: 45px;
  font-weight: 600;
  color: #efefef;
  position: absolute;
  top: 10px;
  right: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.not.recommand-songs ul li .new {
  background-color: #d1982f;
  font-size: 15px;
  border-radius: 20px;
  width: 45px;
  font-weight: 600;
  color: #efefef;
  position: absolute;
  top: 10px;
  right: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}