* {
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #efefef;
  padding: 10px;
  border-bottom: 1px solid #3f3f3f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

header h1 {
  font-size: 25px;
  font-weight: 300;
  margin-left: 300px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

nav {
  margin: 0 20px 0 20px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 300px;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #777777;
}

.recommand-songs {
  background-color: #e9e9e9;
  margin-top: 50px;
  padding: 50px;
  height: 600px;
}

.recommand-songs.white {
  background-color: #efefef;
}

.title {
  margin-bottom: 130px;
  font-size: 30px;
}

.musics {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.music, .album {
  margin-top: 50px;
  padding: 20px;
  background-color: #dddddd;
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 20px;
}

.music img, .album img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
  border-radius: 20px;
  z-index: 1;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.music-explain {
  position: absolute;
  top: 110px;
  left: 45px;
}

.music-explain.two-lines p {
  margin: 6px 0 20px 0;
}

.music-explain.three-lines p {
  margin: 0 0 20px 0;
}

.music p, .music h1, .music h2, .album p, .album h1, .album h2 {
  margin: 0;
}

.music h1, .album h1 {
  font-size: 20px;
  font-weight: 300;
}

.music h2, .album h2 {
  font-size: 15px;
  font-weight: 200;
}

.music p, .album p {
  margin: 20px 0;
  font-weight: 100;
}

.music a, .album a {
  text-decoration: none;
  background-color: #3f3f3f;
  padding: 10px;
  border-radius: 15px;
  color: #efefef;
}

.album img {
  left: 20px;
}

.album .cd {
  width: 200px;
  height: 190px;
  top: -85px;
  z-index: 0;
  left: 100px;
}

.rank-badge {
  padding: 3px 7px;
  border-radius: 13px;
  color: #efefef;
  font-weight: 600;
  position: relative;
  bottom: 235px;
  left: 90px;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.rank-badge.first {
  background-color: #e9482c;
}

.rank-badge.second {
  background-color: #76b7c0;
}

.rank-badge.third {
  background-color: #9c603d;
}

.rank-badge.fourth-over {
  background-color: #7a7a7a;
}